* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

body {
  background: rgb(37, 35, 35);
  max-height: 820px;
}
/*default styles*/
img {
  width: 80px;
}
.textbackground {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 20px;
}
li{
  list-style: none;
}
a {
  text-decoration: none;
}
.letterspacing {
  letter-spacing: 5px;
}
/*header styles*/
header {
  font-size: 1rem;
  letter-spacing: 5px;
  font-weight: 600;
  height: fit-content;
  background-color: rgb(63, 161, 63);
}
/*menu styles*/
.nav-bar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-bar ul {
  display: flex;
}
.toggle-btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
header .nav-bar ul li {
  list-style: none;
  margin: 0 10px;
}
header .nav-bar ul li a {
  text-decoration: none;
  color: white;
}
header .nav-bar ul li a:hover {
  color: black;
  border-bottom: 1px solid white;
  transition: all 1s ease;
}
.store {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}
.store:hover {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: rgb(36, 35, 35);
  transition: 0.6s ease;
}
/*responsive desing dropdown*/
.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 40px;
  height: 0;
  width: 215px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.247);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
  height: 200px;
}
.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*header's end*/

/*main content styles*/
.main-cont {
  width: 75%;
  height: 700px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.card-1 {
  border-radius: 20px;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(128, 128, 128, 0.007)),
    url(images/Esports\ gaming\ \ 1.png) center center/cover;
}
.card-2 {
  border-radius: 20px;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(128, 128, 128, 0.007)),
    url(images/Esports\ tournam\ 0.png) center center/cover;
}
.card-text-style {
  padding: 10px;
  margin: 5px;
}
aside {
  display: grid;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  background: url(images/image_UbERq_Qa_1697410864521_raw.jpg) center
    center/cover;
  border-radius: 20px;
}
.asidebar {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
.cursos {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.imgs {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}
.imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ani-1 {
  position: relative;
  color: rgba(63, 161, 63, 0.89);
}
.ani-1::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0px solid white;
  animation: animate 3s forwards;
  animation-delay: 0.3s;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 25px white);
}
.ani-2 {
  position: relative;
  color: rgba(63, 161, 63, 0.89);
}
.ani-2::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0px solid white;
  animation: animate 3s forwards;
  animation-delay: 0.9s;
  filter: drop-shadow(0 0 10px white) drop-shadow(0 0 25px white);
}
@keyframes animate {
  0%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

/*main's end*/

/*footer-redes socioles*/
footer {
  background-color: rgb(63, 161, 63);
  height: 150px;
}

.redes-sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes-sociales h3 {
  padding: 5px;
  letter-spacing: 5px;
  font-weight: 300;
}

.redes-sociales i {
  padding: 15px;
  font-size: 1rem;
}

/*footer's end*/

/*academy and store under contruction page*/
.underconstruction-cont {
  background: black;
  opacity: 0.9;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: self-start;
}
.undercons-tex {
  margin-top: 150px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 992px) 
{
  body {
    background: rgb(37, 35, 35);
    
  }
  .main-cont {
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    
  }
  .card-1 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    
  }
  .card-2 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .card-text-style {
    padding: 10px;
    margin: 5px;
  }
  aside {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
  .imgs img {
    width: 45%;
    height: 100%;
  }
  .redes-sociales i {
    padding: 10px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 680px) 
{
  body {
    max-height: 800px;
  }
  header {
    font-size: 0.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: rgb(63, 161, 63);
  }
  img {
    width: 40px;
  }
  /*menu styles*/
  .nav-bar {
    width: 90%;
  }
  .nav-bar nav ul{
    display: none;
  }
  .nav-bar .toggle-btn{
    display: block;
  }
  /*dropdown*/
  .dropdown-menu{
    display: block;
  }

  .main-cont {
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    
  }
  .card-1 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    font-size: 0.7rem;
    
  }
  .card-2 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-size: 0.7rem;  
  }
  .card-text-style {
    padding: 7px;
    margin: 2px;
  }
  aside {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    font-size: 0.7rem;
  }
  .imgs img {
    width: 45%;
    height: 100%;
  }
  .redes-sociales i {
    padding: 10px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 299px) 
{
  body {
    max-height: 800px;
  }
  header {
    font-size: 0.5rem;
    letter-spacing: 1px;
    height: 40px;
    position: relative;
  }
  img {
    width: 30px;
  }
  /*menu styles*/
  .nav-bar {
    width: 90%;
  }
  .nav-bar nav ul{
    display: none;
  }
  .nav-bar .toggle-btn{
    display: block;
  }
  /*dropdown*/
  .dropdown-menu{
    display: block;
  }
  .main-cont {
    height: auto;
    grid-template-rows: repeat(3, 1fr);
    
  }
  .card-1 {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    font-size: 0.5rem;
    
  }
  .card-2 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-size: 0.5rem;  
  }
  .card-text-style {
    padding: 7px;
    margin: 2px;
  }
  aside {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    font-size: 0.5rem;
  }
  .imgs img {
    width: 45%;
    height: 100%;
  }
  .redes-sociales i {
    padding: 10px;
    font-size: 20px;
  }
}
  
