* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    color: white;

}

body {
    width: 100%;
    height: 830px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #252222), url(gaming-backgrounds-in-black-green-and-darkgrey_bemP5adD_upscaled.jpg) no-repeat center center/cover;
}

/*default styles*/
img {
    width: 80px;
}

a {
    text-decoration: none;
}

/*header styles*/
header {
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: 600;
    height: fit-content;
    background-color: rgb(63, 161, 63);

}

/*menu styles*/
.nav-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .nav-bar ul {
    display: flex;
}

header .nav-bar ul li {
    list-style: none;
    margin: 0 40px;
}

header .nav-bar ul li a {
    text-decoration: none;
    color: white;
}

header .nav-bar ul li a:hover {
    color: black;
    border-bottom: 1px solid white;
    transition: all 1s ease;
}

.store {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;

}

.store:hover {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: rgb(36, 35, 35);
    transition: 0.6s ease;
}

/*header's end*/

/*team members'cards*/
.teams-main-cont {
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.team-title {
    display: flex;
    justify-content: center;
    margin: 90px auto;
    letter-spacing: 10px;
}

.card-team {
    margin: 130px 0;
    background-color: #252222;
    border-radius: 10px;
    box-shadow: 0 4px 4px 5px rgba(255, 255, 255, 0.096);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.card-team img {
    width: 80%;
    padding: 5px;
}

.card-team p {
    text-align: center;
}

/*footer-redes socioles*/
footer {
    background-color: rgb(63, 161, 63);
    height: 120px;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-sociales h3 {
    padding: 5px;
    letter-spacing: 5px;
    font-weight: 300;
}

.redes-sociales i {
    padding: 15px;
    font-size: 30px;
}

/*footer's end*/